@import './_vars.scss';
@import '../../node_modules/include-media/dist/_include-media.scss';

@mixin link($color: $blue, $hoverColor: $red) {
  color: $color;
  transition: color 200ms ease;
  &:hover,
  &:active {
    color: $hoverColor;
    transition: none;
  }
}

@mixin h1 {
  font-size: 30px;
  font-weight: bold;
}

@mixin h2 {
  font-size: 24px;
  font-weight: bold;
}
