@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';

.ideas {
  .idea {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;
    & + .idea {
      margin-top: 20px;
    }

    .ideaLink {
      @include link;
    }
  }
}
