PORT=3001
HOST_ENV=local
DATABASE_URL=postgresql://ideanick:ideanick@localhost:5432/ideanick?schema=public
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=http://localhost:8000
BREVO_API_KEY=!!!SECRET!!!
FROM_EMAIL_NAME=ideaNick
FROM_EMAIL_ADDRESS=noreply@brevo.ideanick.info
DEBUG=ideanick:*,-ideanick:prisma:*,-ideanick:trpc:query:success
