@import '../../styles/_vars';
@import '../../styles/_mixins';

.field {
  &.disabled {
    opacity: 0.5;
  }

  .label {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
  }

  .input {
    display: block;
    padding: 7px;
    border: 1px solid $black;
    border-radius: $borderRadiusSmall;
    background-color: $white;
    outline: none;
    width: 100%;
    max-width: 200px;

    &:focus {
      border-color: $blue;
    }

    &.invalid {
      border-color: $red;
    }
  }

  .error {
    margin-top: 2px;
    color: $red;
  }
}
