@import '../../styles/_vars.scss';
@import '../../styles/_mixins.scss';

.title {
  @include h1;
  margin-bottom: 2px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}
