@import '../../styles/_vars';
@import '../../styles/_mixins';

.createdAt {
  font-size: 12px;
  margin-bottom: 10px;
}

.text {
  font-size: 14px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}
